      <div class="left-sidebar">
        <div class="user-panel">
          <!-- 用户信息 -->
          <div class="profile-picture"><img src="__STATIC__/Amaze/img/user04.png" alt="" /></div><span class="logged-in-text"><i class="am-icon-circle-o am-text-success status-icon"></i> 禁言小张</span> <a href="javascript:;" class="action-link"><span class="am-icon-pencil"></span> 账号设置</a>
        </div><!-- 菜单 -->
        <ul class="sidebar-nav">
          <li class="heading">Dashboard <span class="heading-info">仪表盘</span></li>
          <li class="link">
            <a href="javascript:;" data-href="index.html" class="active"><i class="am-icon-home link-logo"></i> 后台首页</a>
          </li>
          <li class="link">
            <a href="javascript:;" class="sub-title"><i class="am-icon-gear link-logo"></i> 网站设置 <span class="am-icon-chevron-down am-fr am-margin-right-sm sub-ico"></span></a>
            <ul class="sub">
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/setting/webManage');}"><span class="am-icon-angle-right link-logo"></span> 网站管理</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/setting/emailManage');}"><span class="am-icon-angle-right link-logo"></span> 邮件设置</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/setting/adminManage');}"><span class="am-icon-angle-right link-logo"></span> 管理员修改</a>
              </li>
            </ul>
          </li>
          <li class="link">
            <a href="javascript:;" class="sub-title"><i class="am-icon-book link-logo"></i> 文章内容 <span class="am-icon-chevron-down am-fr am-margin-right-sm sub-ico"></span></a>
            <ul class="sub">
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/article/index');}"><span class="am-icon-angle-right link-logo"></span> 文章列表</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/article/add');}"><span class="am-icon-angle-right link-logo"></span> 添加文章</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/article/recycle');}"><span class="am-icon-angle-right link-logo"></span> 回收站</a>
              </li>
            </ul>
          </li>
          <li class="link">
            <a href="javascript:;" class="sub-title"><i class="am-icon-th link-logo"></i> 分类管理 <span class="am-icon-chevron-down am-fr am-margin-right-sm sub-ico"></span></a>
            <ul class="sub">
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/category/index');}"><span class="am-icon-angle-right link-logo"></span> 分类列表</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/category/add');}"><span class="am-icon-angle-right link-logo"></span> 添加分类</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/category/recycle');}"><span class="am-icon-angle-right link-logo"></span> 回收站</a>
              </li>
            </ul>
          </li>
          <li class="link">
            <a href="javascript:;" class="sub-title"><i class="am-icon-tags link-logo"></i> 标签管理 <span class="am-icon-chevron-down am-fr am-margin-right-sm sub-ico"></span></a>
            <ul class="sub">
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/tag/index');}"><span class="am-icon-angle-right link-logo"></span> 标签列表</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/tag/recycle');}"><span class="am-icon-angle-right link-logo"></span> 回收站</a>
              </li>
            </ul>
          </li>
          <li class="link">
            <a href="javascript:;" class="sub-title"><i class="am-icon-commenting link-logo"></i> 评论管理 <span class="am-icon-chevron-down am-fr am-margin-right-sm sub-ico"></span></a>
            <ul class="sub">
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/comment/index');}"><span class="am-icon-angle-right link-logo"></span> 评论列表</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/comment/examine');}"><span class="am-icon-angle-right link-logo"></span> 评论审核</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/comment/recycle');}"><span class="am-icon-angle-right link-logo"></span> 回收站</a>
              </li>
            </ul>
          </li>
          <li class="link">
            <a href="javascript:;" class="sub-title"><i class="am-icon-key link-logo"></i> 站点维护 <span class="am-icon-chevron-down am-fr am-margin-right-sm sub-ico"></span></a>
            <ul class="sub">
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/site/index');}"><span class="am-icon-angle-right link-logo"></span> 清理缓存</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/site/backup');}"><span class="am-icon-angle-right link-logo"></span> 数据备份</a>
              </li>
            </ul>
          </li>
          <li class="link">
            <a href="javascript:;" class="sub-title"><i class="am-icon-link link-logo"></i> 友情链接 <span class="am-icon-chevron-down am-fr am-margin-right-sm sub-ico"></span></a>
            <ul class="sub">
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/link/index');}"><span class="am-icon-angle-right link-logo"></span> 链接列表</a>
              </li>
              <li class="link">
                <a href="javascript:;" data-href="{:url('backend/link/add');}"><span class="am-icon-angle-right link-logo"></span> 添加链接</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>