      <div class="right-content">
        <div class="app-widget am-cf">
          <div class="app-widget-tabs am-cf">
            <div class="tab-control icon-prev">
              <span class="am-icon-angle-double-left"></span>
            </div>
            <div class="tab-control icon-next">
              <span class="am-icon-angle-double-right"></span>
            </div>
            <div class="tab-control icon-down am-dropdown am-dropdown-flip" data-am-dropdown="">
              <span class="am-dropdown-toggle am-icon-angle-double-down" data-am-dropdown-toggle=""></span>
              <ul class="am-dropdown-content dropdown-content">
                <li class="dropdown-menu-notifications">
                  <a href="javascript:;" class="dropdown-menu-notifications-item am-cf tab-item-close tab-item-current">
                    <span>关闭当前标签页</span>
                  </a>
                </li>
                <li class="dropdown-menu-notifications">
                  <a href="javascript:;" class="dropdown-menu-notifications-item am-cf tab-item-close tab-item-other">
                    <span>关闭其他标签页</span>
                  </a>
                </li>
                <li class="dropdown-menu-notifications">
                  <a href="javascript:;" class="dropdown-menu-notifications-item am-cf tab-item-close tab-item-all">
                    <span>关闭全部标签页</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-list">
              <ul>
                <li class="tab-item tab-active" data-href="index.html"><i class="am-icon-home"></i></li>
              </ul>
            </div>
          </div>
          <div class="app-widget-bodys am-cf">
            <div class="body-item body-show" data-href="index.html">
              <iframe class="body-iframe" src="#"></iframe>
            </div>
          </div>
        </div>
      </div>